.content {
    min-height: 250px;
    padding: 0;
    padding-top: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 0;
}

#searchBox {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    display: none;
}
.boxList {
    margin-bottom: 0;
}
.btn.btn-info {
    background-color: #8f8cd6;
    border-color: #8f8cd6;
    min-width: 82px;
}

.btn.btn-default {
    background-color: #fff;
    border-color: #c7c7c7;
}
.btn.btn-w82 {
    width: 82px;
    height: 34px;
}

.content-header h1{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}
.content-header h1 span{
    padding-right:10px;
}
.table{
    margin-bottom: 0;
}

/**分页颜色*/
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #7b77cf;
    border-color: #7b77cf;
}

.grid-view .box-footer .summary {
    display: inline-block;
    border: 0;
    padding: 12px 10px;
    vertical-align: top;
}
ul.pagination {
    margin: 0;
    padding: 5px;
}

.box-footer{
    padding: 0;
}
/**文本框边框颜色*/
.form-group.has-success .form-control,
.form-group.has-success .input-group-addon {
    border-color: #ddd;
}
.has-success .select2-container--open .select2-selection, .has-success .select2-container--krajee.select2-container--focus .select2-selection {
     -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 6px #ddd;
     box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 6px #ddd;
     border-color: #ddd;
}
.has-success.select2-container--krajee .select2-dropdown, .has-success .select2-container--krajee .select2-selection {
     border-color: #ddd;
}
.select2-dropdown select2-dropdown--below {width: 241px;}
.select2-container--krajee .select2-dropdown {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border-color: #ddd;
    overflow-x: hidden;
    margin-top: -1px;
}
.select2-selection .select2-selection--multiple,.select2-selection .select2-selection--single{
    border-radius: 0;
}
/**下拉框删除X垂直剧中*/
.select2-container--krajee .select2-selection--multiple .select2-selection__clear{
    line-height: 20px;
}
.select2-container--krajee .select2-selection--single .select2-selection__clear{
    right: 3rem;
    line-height: 20px;
}
/**多选item样式*/
.select2-container--krajee .select2-selection--multiple .select2-selection__choice {
    color: #f9f4f4;
    background: #f5f5f5;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin: 5px 0 0 6px;
    padding: 0 6px;
    background: #5f5ca8;
}
/**多选item X样式*/
.select2-container--krajee .select2-selection--multiple .select2-selection__choice__remove {
    float: right;
    color: #fdf9f9;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    opacity: 1;
    filter: alpha(opacity=40);
    display: inline-block;
    /* text-shadow: 0 1px 0 #fff; */
    font-size: 18px;
    font-weight: 700;
    line-height: 10px;
    /* margin: 1px 0 0 3px; */
    margin-left: 5px;
}

/**日期文本框*/
.form-date .input-group-addon {
    position: absolute;
    width: 31px;
    border-color: transparent;
    border-right: 1px solid #ddd;
    background-color: transparent;
    z-index: 5;
    padding: 8px 8px;
}
.form-date .form-control {
    padding-left: 35px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    opacity: 1;
}
.form-date .search-control-clear {
    position: absolute;
    width: 13px;
    height: 13px;
    cursor: pointer;
    font-weight: bold;
    top: 11px;
    right: 22px;
    z-index: 99;
    line-height: 12px;
    border-radius: 50%;
    background-color: #ddd;
    color: #fff;
    text-align: center;
    display: none;
}
.daterangepicker{
    width: 500px;
}
/**select 多选-全选颜色*/
.s2-togall-button {
    color: #5f5ca8;
}
/**日期选择确定按钮*/
.range_inputs .applyBtn.btn-success {
    background-color: #7b77cf;
    border-color: #7b77cf;
    outline: none;
}
.range_inputs .applyBtn {
    margin-left: 155px;
}
.range_inputs .applyBtn, .range_inputs .cancelBtn {
    margin-top: 2px;
    padding: 3px 7px;
    border-radius: 2px;
}
.daterangepicker .ranges{
    text-align: right;
    width: 100%;
    padding-right: 20px;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #7b77cf;
    border-color: #7b77cf;
    color: #fff;
}
.daterangepicker td.in-range {
    background: #ecebff;
    border-radius: 0;
}
.daterangepicker.dropdown-menu td.end-date, .daterangepicker td.end-date:hover {
    background-color: #7b77cf;
    border-color: #7b77cf;
    color: #fff;
}
.range_inputs .applyBtn {
    margin-left: 155px;
}
.range_inputs .applyBtn, .range_inputs .cancelBtn {
    margin-top: 2px;
    padding: 3px 7px;
    border-radius: 2px;
}